<div class="container py-3" style="max-width: 650px; min-width: 400px;">
    <div class="card">
        <h2 class="card-header text-center">Formulario de citas</h2>
        <div class="card-body">

            <form #formularioPaciente="ngForm" (ngSubmit)="Enviar()">

                <div class="form-group">
                    <legend>Datos del paciente</legend>
                    <label for="user">Paciente:</label>
                    <input class="form-control" type="text" placeholder="Cliente" [(ngModel)]="data.name" required name="name">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <div class="form-group two-fields">
                                    <label for="">Fecha de cita:</label>
                                    <div class="input-group m-1">
                                        <input type="text" name="day" [(ngModel)]="data.day" required class="form-control" placeholder="Día">
                                        <input type="text" name="month" [(ngModel)]="data.month" required class="form-control" placeholder="Mes">
                                        <input type="text" name="year" [(ngModel)]="data.year" required class="form-control" placeholder="Año">
                                        <input type="text" name="hour" [(ngModel)]="data.hour" required class="form-control" placeholder="Hora">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="link">Link Zoom cita:</label>
                    <input type="text" name="link" [(ngModel)]="data.link" class="form-control" placeholder="Link Zoom">
                </div>


                <label for="link">Especialista:</label>

                <div class="form-group">
                    <select class="form-control" name="EspecialistaSelect" [(ngModel)]="EspecialistaSelect" (change)="Enviar($event.target.value)">
                      <option *ngFor="let doctor of specialist" [ngValue]="doctor">{{ doctor.name }}</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success" (click)="Enviar()">Confirmar</button>
                <button type="reset" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="container text-center py-3 shadow align-content-center" style="max-width: 650px; min-width: 400px;">

    <h1>!Todo Listo {{ data.name }}!</h1>
    <div>
        <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h4 class="m-4 strong">MEDIANTE EL SIGUIENTE LINK TE ATENDEREMOS EL DÍA {{ data.day }} DE {{ data.month }} A LAS {{ data.hour }} (BOGOTÁ, COLOMBIA)</h4>

    <a class="py-3 pointer" [attr.href]="data.link" target="_blanck"> {{ data.link }}</a>

    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-sm-4 shadow">
                <h5>Llega cinco minutos antes</h5>
                <p class="text-muted">El doctor te dará el acceso a la hora acordada, por favor asegura tu conexión a internet.</p>
            </div>
            <div class="col-12 col-sm-4 shadow bg-gray-200">
                <h5>Verifica tus audífonos</h5>
                <p class="text-muted">Garantiza con tu móvil que ambos audífonos funcionan.</p>
            </div>
            <div class="col-12 col-sm-4 shadow">
                <h5>Ubicate en la luz</h5>
                <p class="text-muted">Te recomendamos estar en un espacio con luz, para poder prestar un mejor servicio.</p>
            </div>
        </div>
    </div>


    <div class="container py-3 shadow">
        <div class="row">
            <div class="col-6">
                <img [src]="EspecialistaSelect.img" width="280" height="280" alt="" loading="lazy">
            </div>
            <div class="col-6 m-0">
                <h5>¿CONOCES AL ESPECIALISTA QUE TE ATENDERÁ?</h5>
                <p>{{ EspecialistaSelect.description }}</p>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <h4>CONOCE NUESTROS NUEVOS PRODUCTOS Y SERVICIOS</h4>
        <p class="text-muted">Nos reinventamos en la era digital.</p>

        <div class="row py-3">
            <div class="col-12 col-sm-6">
                <img src="../assets/img/work-1.jpg" width="280" height="280" alt="" loading="lazy">
            </div>
            <div class="col-12 col-sm-6">
                <img src="../assets/img/work-2.jpg" width="280" height="280" alt="" loading="lazy">
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12 col-sm-6">
                <img src="../assets/img/work-3.jpg" width="280" height="280" alt="" loading="lazy">
            </div>
            <div class="col-12 col-sm-6">
                <img src="../assets/img/work-4.jpg" width="280" height="280" alt="" loading="lazy">
            </div>
        </div>
    </div>

    <div class="align-items-center bg-info">
        <div class="container">
            <h4 class="text-white py-2">SENSUM</h4>
            <p class="text-white">Fusión de ciencia y humanidad para prevenir la enfermedad</p>
            <button class="btn btn-outline-secondary">Conoce más de nosotros</button>
        </div>
        <br>
    </div>

    <footer class="page-footer font-small teal pt-4 ">

        <div class="container-fluid text-center text-md-left bg-dark">

            <div class="row">

                <div class="col-md-6 mt-md-0 mt-3">

                    <h5 class="font-weight-bold text-white py-2">Sobre nosotros</h5>
                    <p class="text-white">Utilizando todas las herramientas del conocimiento médico protegemos, reparamos y entrenamos los sentidos de las personas con el único objetivo de alcanzar mayores niveles de bienestar y felicidad para el individuo y su comunidad...</p>

                </div>

                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-white font-weight-bold py-2">Información de contacto</h5>
                    <p class="text-white">Avenida 19 N°. 120 - 71, oficina 101 y 102 <br> PBX: (031) 756 99 14 <br> Cel: (+57) 350 550 00 55 <br> WhatsApp: (+57) 350 686 54 54 </p>

                </div>

            </div>

            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <p class="text-white py-3">
                        © 2020 El Centro de los Sentidos. Todos los derechos reservados</p>
                </div>
                <div class="col-md-6 mt-md-0 mt-3">
                    <p class="text-white py-3">
                        Cancelar subscripción al correo</p>
                </div>

            </div>

        </div>
    </footer>
</div>